<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aaron.yespdf">

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="name,icon,label,theme,android:allowBackup">
        <activity android:name=".main.SearchActivity"/>
        <activity android:name=".filepicker.ScanActivity" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".preview.PreviewActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".filepicker.SelectActivity"
            android:screenOrientation="portrait" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_file_paths"
                tools:replace="name,resource"/>
        </provider>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>